.mainStack {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.mainStack nav {
   display: flex;
   justify-content: space-around;
   padding: 10px;
   background-color: lightblue;
   border: 2px solid blue;
   border-radius: 8px;
   width: 50%;
   margin: 0 10px 20px 10px;
}
