button.acceptEdits {
   color: white;
   background-color: green;
}

button.cancel {
   color: white;
   background-color: black;
}

.fieldArea {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}
