.fooStack {
   display: flex;
   flex-flow: column nowrap;
   margin-bottom: 20px;
}

.fooRow {
   display: grid;
   grid-template-columns: auto auto 1fr 1fr auto auto;
   align-items: center;
   color: silver;
   background: darkblue;
   padding: 10px;
}

.associatedItems {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.associatedItems > * {
   margin: 0 10px 0 10px;
}

.advisoryType {
   color: silver;
   background: #444;
   padding: 5px;
}

.advisoryText {
   border: 1px solid gray;
   padding: 5px;
   border-radius: 5px;
}

.authority {
   color: darkgray;
   padding: 5px;
}

.itemDivider {
   border-top: 3px solid lightgray;
   height: 10px;
}

.funcatsDescription {
   border: 1px solid darkgreen;
   padding: 5px;
   border-radius: 5px;
}

button.edit {
   color: white;
   background-color: black;
}

button.delete {
   color: white;
   background-color: darkred;
}

.id {
   color: lightblue;
   margin: 0 10px;
   background-color: #444;
   padding: 5px;
   border: 2px solid gray;
}

.category {
   color: gray;
   margin: 0 10px;
   padding: 5px;
   background: aliceblue;
   border: 2px solid lightblue;
   max-width: 15px;
}

.category input {
   max-width: 9px;
}

.name {
   font-weight: bold;
   padding: 5px;
   margin: 0 10px;
}

.description {
   border-left: 10px solid darkgray;
   padding: 5px;
   margin: 0 10px;
}

